body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  min-width: 500px;
  height: 100%;
}

.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}

footer,
.push{
  height: 50px;
}

footer{
  background-color: #F5F5F5;
}

#footer-text{
  margin-top: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #media-change{
      display: block!important;
  }
}

@media (max-width: 992px) {
  #media-change1{
      display: block!important;
  }
}